
body { /* wrapper */
    width: 75vw;
    margin: auto;
    margin-top: 2in;
}

.soundboard {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas: 
    "liam me josh"
    "marlon ethan xavier";
}
    .soundboard img {
        width: 200px;
        height: 200px;
    }
#Liam {
    grid-area: liam;
}
#Lorelei {
    grid-area: lorelei;
}
#Josh {
    grid-area: josh;
}
#Marlon {
    grid-area: marlon;
}
#Ethan {
    grid-area: ethan;
}
#Xavier {
    grid-area: xavier;
}
